<style>
    .erro {
        color: red;
    }
</style>

<div class="container">
    <div class="page-header">
        <h1>Lista de cavaleiros</h1>
    </div>

</div>

    <ul id="cavaleiros"></ul>
    <div id="feedback"></div>
    <button id="btnCriar">Criar hard-coded!</button>

    <script>
    var urlCavaleiroGet = '@Url.Action("Get")';
    var urlCavaleiroPost = '@Url.Action("Post")';
    </script>

    @section scripts {
        <script src="~/Scripts/Services/ServicoDeCavaleiros.js"></script>
        <script src="~/Scripts/Views/Cavaleiro/Index.js"></script>
    }
