@{
    ViewBag.Title = "Lista de Cavaleiros";
}

<div class="container">
    <div class="page-header">
        <button class="btn btn-primary btn-lg pull-right" id="btnCriarAleatorio">Criar hard-coded!</button>
        <button class="btn btn-primary btn-lg pull-right" id="btnCriar">Criar</button>
        <h1>Lista de cavaleiros</h1>
    </div>
</div>

<script>
    var urlCavaleiroGet = '@Url.Action("Get")';
    var urlCavaleiroPost = '@Url.Action("Post")';
</script>

@section scripts {
    <script src="~/Scripts/Models/Cavaleiro.js"></script>
    <script src="~/Scripts/Services/ServicoDeCavaleiros.js"></script>
    <script src="~/Scripts/Controllers/CavaleiroController.js"></script>
    <script src="~/Scripts/Views/Cavaleiro/Index.js"></script>
}
