.lista-de-cavaleiros {}

    .lista-de-cavaleiros > .cavaleiro {
        height: 207px;
        position: relative;
    }
    
        .cavaleiro img {
            width: 200px;
            height: 200px;
        }