@model dynamic

@{
    ViewBag.Title = "Bem vindo a lojaninja.com";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p>
        Sem duvidas a loja mais ninja de toda região :D
    </p>
</div>