/*
 * All pages styles
 */
body {
    background: #E4E9F0;
    position: relative;
    height: 100%;
}
    /* content */
    .content {
        position: relative;
        top: -20px;
        background: #E4E9F0;
    }
        /* page-header */
        .content > .page-header {
            margin: 0 0 20px;
            padding: 20px;
            background: #fff;
            box-shadow: 0 .5px 10px .1px rgba(0,0,0,0.1);
        }
            /* titles */
            .page-header > h1 {
                font-size: 25px;
            }
        
            .page-header > h4 {
                display: inline;
                font-size: 16px;
            }            
            /* breadcrumb */
            .page-header > .breadcrumb {
                float: right;
                background: transparent;
            }
                .page-header > .breadcrumb li {
                
                }
                
                    .page-header > .breadcrumb li > a {
                        color: #333;
                    }
                    
                    .page-header > .breadcrumb li.active > a {
                        color: #888;
                    }
            
                .page-header > .breadcrumb > li + li:before {
                    content: "\02C3";
                }
                
        .content .form-control {
            background: #FAFAFA;
            border: 1px solid #eee;
        }
 
/*
 * Navbar styles
 */
.navbar {
    height: 62px;
    background: #fff;
    box-shadow: 0 .5px 10px .1px rgba(0,0,0,0.1);
}

    .navbar-header {}
    
        .navbar-header > .navbar-brand {
            font-family: "Comic Sans MS", cursive, sans-serif;
            font-size: 24px;
            line-height: 24px;
            font-weight: bold;                
        }
    
    .navbar-collapse {}
       
    .navbar-collapse.collapse.in {
        background: #fff;
        overflow: hidden;
    }
    
    .navbar-collapse[aria-expanded="true"] {
        border-bottom: 1px solid #e7e7e7;
    }
    
        .navbar-right {}
        
        .navbar-nav {}
        
                .navbar-nav > li > a {
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
                
                .navbar-nav > li > a {
                    font-size: 18px;
                    line-height: 22px;
                }
                
                .navbar-nav > li .badge-notify{
                    background:#FF5252;
                    position:relative;
                    top: -15px;
                    left: -15px;
                    border-radius: 5px;
                }
        
            .navbar-nav > li.dropdown {
                padding: 0 15px;
            }
        
                .navbar-nav > li.dropdown > a.logout {
                    font-size: 15px;
                    font-weight: bold;
                    color: #bbb;
                    text-transform: uppercase;
                }
                
                .navbar-right > li > .user-picture {
                    position: relative;
                    width: 60px;
                    height: 45px;
                    top: 8px;
                    margin-right: 25px;
                }
        
            .navbar-collapse.collapse.in > .navbar-right > li {
                padding-left: 10px;
            }
        
                .navbar-collapse.collapse.in > .navbar-right > li > .user-picture {
                    display: none;
                }
                
/*
 * Sidebar styles
 */
.sidebar {
    position: absolute;
    float: left;
    width: 250px;
    height: 100%;
    top: 0;
    left: -250px;
    padding-top: 62px;
    z-index: 999;
    background: #2C2C31;    
    box-shadow: .5px 0 10px .1px rgba(0,0,0,0.1);
    animation: esconderSlidebar 2s;
    transition: 1s linear;
}

    .sidebar > .info {   
        position: relative;     
        background: #35353B;
        height: 140px;
        padding: 10px;
    }
    
        .sidebar > .info > .user-picture {
            float: left;
            width: 50px;
            height: 50px;
            border-radius: 50%;            
        }
        
        .sidebar > .info > .user-description { 
            float: left;
            padding: 10px;
        }
        
            .sidebar > .info > .user-description > .name {
            }
            
            .sidebar > .info > .user-description > .mail {
            }
            
            .sidebar > .info > .user-description > .name,
            .sidebar > .info > .user-description > .mail {
                font-size: 14px;
                margin: 0;                                
                color: #aaa;
            }
            
            .sidebar > .info > .user-description > .name:hover,
            .sidebar > .info > .user-description > .mail:hover {
                color: #ccc;
            }
        
        .sidebar > .info > .icons {
            position: absolute;
            padding-left: 0;
            bottom: 0;
        }   
         
            .sidebar > .info > .icons > li {
                display: inline-block;
                margin: 20px;
            }       
    
    .sidebar > .menu {}
        
        .sidebar > .menu > .menu-list {}
        
            .sidebar > .menu > .menu-list .title {
                font-size: 15px;
                font-weight: 100;
                margin: 0;
                padding: 15px 20px;
                text-transform: uppercase;
                color: #666;            
            }
            
            .sidebar > .menu > .menu-list .sub-menu {}
        
                .sidebar > .menu > .menu-list .sub-menu > li {
                    position: relative;
                    padding: 15px 20px;
                    color: #888;                      
                }
                
                    .sidebar > .menu > .menu-list .sub-menu > li i {
                        margin-right: 10px;
                    }
                    
                .sidebar > .menu > .menu-list .sub-menu > li::after {
                    content: "\02C3";
                    position: absolute;
                    right: 20px;
                    font-weight: bold;
                }
                    
                .sidebar > .menu > .menu-list .sub-menu > li.active {
                    background: #3A3B44;
                }
                
                    .sidebar > .menu > .menu-list .sub-menu > li.active a {
                        color: #5F9897;
                    }
                
                .sidebar > .menu > .menu-list .sub-menu > li:hover {
                    color: #aaa;
                }
            
    .sidebar a {
        color: #888;
        text-decoration: none;
    }     
    .sidebar a:hover {
        color: #aaa;
    }
    
    .sidebar ul {
        padding-left: 0;
    }
    
    .sidebar::after {
        content: "\21E0";
        position: absolute;
        font-size: 30px;
        right: -40px;
        background: #FAFAFA;
        box-shadow: .5px 0 10px .1px rgba(0,0,0,0.1);
        width: 40px;
        height: 45px;
        padding: 0;
        border-bottom-right-radius: 16px;
        border-top-right-radius: 16px;
        transition: 1s linear;
    }
    
    .sidebar:hover::after {
        content: "\21E2";
        transition: 1s linear;
    }
    
    .sidebar:hover {
        left: 0;
        transition: 1s linear;
    }



/* minimo lg (large) */
@media (min-width: 1200px) {
}

/* maximo lg (large) */
@media (max-width: 1200px) {   
}

/* minimo md (medium) */
@media (min-width: 992px) {
}

/* maximo md (medium) */
@media (max-width: 992px) {   
}
        
/* minimo sm (small) */
@media (min-width: 768px) {
    .navbar > .container-fluid > .navbar-header {
        margin-left: 20px;
    }
}

/* maximo sm (small) */
@media (max-width: 768px) {   
}

/* minimo xs (extra small) */
@media (min-width: 480px) {
}

/* maximo xs (extra small) */
@media (max-width: 480px) {   
}

/* mixins */
.clear-fix {
    clear: both;
}

@keyframes esconderSlidebar {
    from {
        left: 0;
    }
    to {
        left: -250px;
    }
}