

/* navbar */
.navbar {
    height: 62px;
    background: #fff;
    box-shadow: 0 .5px 10px .1px rgba(0,0,0,0.1);
}

    .navbar-header {}
    
        .navbar-header > .navbar-brand {
            font-family: "Comic Sans MS", cursive, sans-serif;
            font-size: 24px;
            line-height: 24px;
        }
        
    .navbar-right {}
    
        .navbar-nav > li > a {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        
        .navbar-nav > li > .imagem-usuario {
            position: relative;
            width: 60px;
            height: 45px;
            top: 8px;
            margin-right: 25px;
        }
        
        